



/* 
-------------------------------------
            son's app
-------------------------------------
*/

.active-footer .container {
  width: 100%;
}


.granma.desktop main {
  padding-left: 0px;
}

.granma span.time-stamp{
    font-size: 0.6em;
  font-weight: 400;
  background-color: #CCC;
  padding: 2px;
  border-radius: 3px;
  color: #FFF;
  margin-left: 10px;
}

.granma.desktop .container.form-container textarea{
  margin-bottom: 0px;
}
.granma.desktop .container.msg-container {
  overflow-y: auto;
  max-height: 280px;
  background-color: #FFF;
}

.granma ul.side-nav.fixed .side-nav li {
  padding: 0 5px;
}

.granma ul.js-steps-list.steps-list li.collection-item.accomplished div {
    color: #0C8D0C;
}

.granma ul.js-steps-list li.collection-item.accomplished i.mdi-action-done,
.granma ul.js-steps-list li.collection-item.accomplished .time-stamp {
    opacity: 1;
}

.granma ul.js-steps-list li.collection-item i.mdi-action-done,
.granma ul.js-steps-list li.collection-item .time-stamp {
    opacity: 0;
}


.granma footer.page-footer {
  background: #ccc;
}

.granma ul.side-nav.fixed li.logo {
    margin-top: 2px;
}

.collection.grandma-details .collection-item div{
  text-align: left;
}

.granma.desktop footer.active-footer{
  font-size: .9rem;
  z-index: 10000;
   position: fixed;
  bottom: 0px;
  background-color: #EEE;
  padding: 10px;
  border-radius: 5px;
  width: 33%;
    margin-bottom: 0px;
}
@media only screen and (max-width: 992px) {
  .granma.desktop footer.active-footer {
    width: 100%;
  }  
}


.granma.desktop footer.active-footer div {

}

.granma.desktop {
  
}

/* 
-------------------------------------
            granma's app
-------------------------------------
*/

.card-panel.gm-pannel {
  padding: 10px;
  margin: 0 0 0rem 0;
}

#icon_prefix2 {
    height: 40px;
  padding: 0px;
}

.msg {
  width: 80%;
  padding: 10px;
  margin-bottom: 7px;
}


.msg .time {
    font-size: 0.8em;
}

.msg .text {
    font-size: 1.2em;
}
.msg.msg-other {
    float: left;
    background-color: #BAFDFF;
}
.msg.msg-my {
    float: right;
        text-align: right;
      background-color: #BAFFE1;
}

.container.msg-container {
    overflow-y:auto;
    max-height: 180px;
}

.granma ul.collection li div a {
  color: #A10324;
}
.granma ul.collection.steps-list  li div {
    text-align: left;
    font-size: 1.5em;
} 

.mobile.granma footer .messages-counter{
  padding-top: 10px;
  padding-right: 40px;
}

.mobile.granma footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px 3px rgba(99,99,99,0.5);
box-shadow: 0 1px 3px 3px rgba(99,99,99,0.5);
}
.collapse-chat i{
  font-size: 2em;
  padding-right: 5%;
}

.mobile.granma footer .container.msg-container{
  margin-top: 10px;

}
/* 
-------------------------------------
            dot on the map 
-------------------------------------
*/


#img-pointer {
    height: 600px;
    width: 560px;
    position: relative;
     background: url(../maps/schiphol-map1.gif) no-repeat;
}
#img-pointer #container {
  position: relative;
  background: #f00;
}

.pulse {
  width: 20px;
  height: 20px;
  border: 5px solid #EC1F43;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background-color: #EC1F43;
  z-index: 10;
  position: absolute;
}

.dot {
  border: 10px solid #EC1F43;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 1.5s ease-out;
  -moz-animation: pulse 1.5s ease-out;
  animation: pulse 1.5s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -moz-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -moz-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -moz-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -moz-transform: scale(1);
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 25% {
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 50% {
    -webkit-transform: scale(0.1);
    opacity: 0.3;
 }
 75% {
    -webkit-transform: scale(0.5);
    opacity: 0.5;
 }
 100% {
    -webkit-transform: scale(1);
    opacity: 0.0;
 }
}